body{
color:white;
background-color:lightpink;
}

.heading{
width:80%;
font-size:25px;
}

#camera{
width:350px;
height:350px;
border:2px dashed black;
}

#resultname, #objectaccuracy , #objects{
color:rgb(209, 155, 194)
font-size:30px;
}